**/.idea/

1 курс/**/**/trash
2 курс/**/**/trash

**/*.DS_Store

1 курс/Программирование/*/*/**/**/**/test
2 курс/Веб-программирование/*/*/**/**/**/test

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
*.sql
*.sqlite
*.log.*

*~
*.swp
*.swo


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Thumbs.db
ehthumbs.db
Desktop.ini