header {
    font-family: "fantasy";
    font-size: 24px;
    padding: 5%;
    /*background: url("https://avatars.mds.yandex.net/i?id=a7f07506b51bfd12bfc2dc1c4505afc70003fbda-16848981-images-thumbs&n=13");*/
    background: #00BFFF;
    color: white;
    text-align: center;
    /*margin-bottom: 2%;*/
}

