.sessionPoints {
    border-collapse: collapse;
    border-color: black;
    width: 100%;
}
.sessionPointsDiv {
    margin: 5%;
    overflow-y: auto;
    height: 500px
}
.redirectButton {
    margin-top: 5%;
    margin-left: 5%;
    /*float: left;*/
}
table {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-family: "fantasy";
    text-align: center;
}
text {
    font-family: "fantasy";
}
th {
    font-family: "fantasy";
    position: sticky;
    top: 0;
    background: #00BFFF;
    color: white;
}

