BODY {
	BACKGROUND-COLOR: white; BACKGROUND-IMAGE: none
}
H1 {
	FONT-FAMILY: Arial, sans-serif
}
H1.banner {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-COLOR: #008000; BACKGROUND-POSITION: 0% 50%; BACKGROUND-REPEAT: repeat; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: center
}
H2 {
	FONT-FAMILY: Arial, sans-serif
}
H2.banner {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-COLOR: #008000; BACKGROUND-POSITION: 0% 50%; BACKGROUND-REPEAT: repeat; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: center
}
H3 {
	FONT-FAMILY: Arial, sans-serif
}
H4 {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0px
}
H5 {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0px
}
H6 {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0px
}
P {
	MARGIN-LEFT: 0px
}
P.exampleheading {
	FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-LEFT: 15px
}
P.example {
	MARGIN-LEFT: 70px
}
P.picturetext {
	FONT-FAMILY: sans-serif; FONT-SIZE: 80%; MARGIN-LEFT: 70px; MARGIN-RIGHT: 50px; TEXT-ALIGN: center
}
P.definition {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: black thin double; BORDER-LEFT: black thin double; BORDER-RIGHT: black thin double; BORDER-TOP: black thin double
}
P.tableheading {
	FONT-WEIGHT: bold; MARGIN-LEFT: 0px
}
P.tabletext {
	MARGIN-LEFT: 0px
}
P.comment {
	COLOR: #000000
}
OL {
	MARGIN-LEFT: 45px
}
OL OL {
	MARGIN-LEFT: 23px
}
OL OL OL {
	MARGIN-LEFT: 23px
}
OL.alpha {
	LIST-STYLE: lower-alpha
}
UL LI {
	LIST-STYLE: url(images/bullet1.gif)
}
UL UL LI {
	LIST-STYLE: url(images/bullet2.gif)
}
UL UL UL LI {
	LIST-STYLE: url(images/bullet3.gif)
}
UL.plus {
	
}
UL.minus {
	
}
UL.ck {
	LIST-STYLE: url(images/checkbox.gif)
}
TABLE {
	
}
TD {
	VERTICAL-ALIGN: top
}
TD UL {
	MARGIN-LEFT: 20px
}
P.paramname {
	TEXT-ALIGN: left
}
P.paramexample {
	COLOR: red; TEXT-ALIGN: left
}
P.paramdescription {
	TEXT-ALIGN: left
}
FONT.paramexample {
	COLOR: red
}
FONT.imageexample {
	FONT-SIZE: smaller
}
