<div class="statsTableDiv">
  <table class="statsTable">
    <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>R</th>
      <th>Попадание/промах</th>
      <th>Текущее время</th>
      <th>Время выполнения</th>
    </tr>
    </thead>
    @for (point of points ; track point) {
      <tbody>
      <tr>
        <td class="X" >{{ point.x }}</td>
        <td class="Y">{{ point.y }}</td>
        <td class="R">{{ point.r }}</td>
        <td class="result" >{{ point.status }}</td>
        <td class="time">{{ point.currentTime }}</td>
        <td class="exec">{{ point.executionTime }}</td>
      </tr>
      </tbody>
    }
  </table>
</div>
